.rbc-calendar {
  font-family: inherit;
}

.rbc-time-header {
  background-color: #f8fafc;
  border-bottom-color: #e2e8f0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.rbc-header {
  font-weight: 500;
  color: #334155;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.rbc-time-view {
  border-color: #e2e8f0;
  border-radius: 0.5rem;
  overflow: hidden;
}

.rbc-time-content {
  border-top-width: 0px;
}

.rbc-timeslot-group {
  border-bottom-color: #e2e8f0;
  min-height: 120px;
  transition-property: color, background-color, border-color, fill, stroke;
  transition-duration: 150ms;
}

.rbc-day-slot .rbc-time-slot {
  border-top-color: #f8fafc;
}

.rbc-day-slot .rbc-time-slot:hover {
  background-color: rgba(239, 246, 255, 0.5);
  cursor: pointer;
}

.rbc-event {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  padding: 0;
}

.rbc-event:hover {
  background-color: transparent;
}

.rbc-event:focus {
  outline: none;
}

.rbc-event.rbc-selected {
  background-color: transparent;
  box-shadow:
    0 0 0 1px #ffffff,
    0 0 0 3px #3b82f6;
}

.rbc-event-label {
  display: none;
}

.rbc-current-time-indicator {
  background-color: #f87171;
  height: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  z-index: 3;
  pointer-events: none;
}

.rbc-current-time-indicator::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #f87171;
  border-radius: 9999px;
  margin-left: -0.25rem;
  margin-top: -3px;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-header-content {
  border-left-color: #e2e8f0;
}

.rbc-day-bg {
  border-left-color: #e2e8f0;
}
